<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BIAT</title>
		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
		<link rel="stylesheet" href="/stylesheets/jquery-ui-1.9.2.custom.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/tweets.css">
	</head>
	<body>
		<article>
			<header>
				<h1>(Brief) Implicit Association Test</h1>
			</header>
			
			<!-- TODO: turn this into a jade snippet -->
			<section class="step step_start">
				<h2>Tweet BIAT</h2>
				
				<p>Some instructions...</p>
				
				<section class="tweetbox left">
				    

					<div class="tw-block-parent">
					  <div class="timeline-TweetList-tweet">
					    <div class="timeline-Tweet">
					      <div class="timeline-Tweet-brand">
					        <div class="Icon Icon--twitter"></div>
					      </div>
					      <div class="timeline-Tweet-author">
					        <div class="TweetAuthor"><a class="TweetAuthor-link" href="#channel"> </a><span class="TweetAuthor-avatar"> 
					            <div class="Avatar"> </div></span><span class="TweetAuthor-name">Donald J. Trump </span><span class="Icon Icon--verified"> </span><span class="TweetAuthor-screenName">@realDonaldTrump </span></div>
					      </div>
					      <div class="timeline-Tweet-text">
					      	We are doing great Economically as a Country, Number One, despite the Fed’s antiquated policy on rates and tightening. Much room to grow!
					      </div>
					      <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
					      <ul class="timeline-Tweet-actions">
					        <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
					        <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
					      </ul>
					    </div>
					  </div>
					</div>

			  	</section>
				
				<hr />
				<!-- <div class="alert alert-warning" role="alert"></div> -->
				<!-- <button>Start</button> -->
				<!-- <p class="go_back">or go <a href="#">back to the overview page</a></p> -->
			</section>

			
		</article>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="/javascripts/tweets.js"></script>
	</body>
</html>